* {
  padding: 0;
  margin: 0;
}

body {
  color: #ffffff;
  background-color: #252525;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0;
}

h1 {
  color: #fcbe14;
  margin: 25px 20px;
}

h3 {
  padding: 15px 0;
}

.add-form {
  background-color: #171717;
  padding: 0 20px;
}

.add-form .report {
  font-weight: bold;
  animation: blink 2s ease infinite;
}

.add-form .report a {
  color: #737373;
  font-size: 0.8rem;
  text-decoration: none;
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.add-form input {
  color: #252525;
  background-color: #ffffff;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 7px 12px;
  margin-right: 12px;
}

.add-form input:first-child {
  width: 56px;
}
.add-form input:last-child {
  width: 236px;
}

.add-form button {
  width: 80px;
  margin: 20px 0;
}

button {
  color: #ffffff;
  background-color: #0377b9;
  font-weight: bold;
  border: none;
  border-radius: 36px;
  padding: 8px 12px;
  cursor: pointer;
}

.list {
  background-image: linear-gradient(180deg, #25252570, #40404070, #25252570);
  max-height: 36vh;
  margin: 20px 0;
  overflow: scroll;
  padding: 10px 20px;
}

.list ul {
  font-size: 0.9rem;
  font-weight: bold;
  list-style: none;
}

.list input {
  margin-right: 12px;
  cursor: pointer;
}

.list button {
  width: 36px;
  margin: 10px;
}

.actions {
  background-color: #171717;
  padding: 10px 20px;
}

.actions select {
  color: #252525;
  background-color: #ffffff;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 7px 12px;
  margin-right: 12px;
}

.actions button {
  width: 120px;
  margin: 10px 0;
}

.stats {
  background-color: #171717;
  padding: 5px 20px 20px 20px;
}

.stats {
  font-size: 0.9rem;
  font-weight: bold;
}

.stats span {
  color: #fcbe14;
}

.author {
  color: #737373;
  font-size: 0.8rem;
  margin: 30px 20px;
}

.author a {
  color: #737373;
  text-decoration: none;
}

.author a:hover {
  color: #fcbe14;
  font-weight: bold;
}
