* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  color: #ffffff;
  background-color: #252525;
  margin: 20px;
  padding: 0;
}

.square {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #fcbe14;
  border: 1px solid #ffffff;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 192px;
  height: 192px;
}

h1 {
  color: #fcbe14;
  margin: 25px 0;
}

.status {
  font-weight: bold;
  margin-bottom: 20px;
  animation: blink 2s ease infinite;
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.game-travel {
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.game-travel:hover {
  font-weight: bold;
  color: #fcbe14;
}

ul {
  list-style: "»";
  margin-left: -30px;
}

footer {
  font-size: 0.8rem;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  font-weight: bold;
  color: #fcbe14;
}
