@media (width <= 1024px) {
  /* Tablet  */

  /* Components  */

  /** Hero */

  .hero-content {
    max-width: 560px;
  }

  .hero-description,
  .logo-slider {
    max-width: 380px;
  }

  /** Testimonials */

  .testimonials-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (width <= 768px) {
  /* Mobile  */

  /* Components  */

  /** Header */

  .header {
    padding: 16px;
  }

  .header-container {
    margin: 0 auto;
    padding: 0 16px;
  }

  .nav {
    gap: 24px;
  }

  .logo img {
    max-width: 38px;
    min-width: 38px;
    max-height: 36px;
    min-height: 36px;
  }

  .nav-links {
    gap: 20px;
  }
  .nav-links a {
    font-size: 12px;
  }
  .nav-links span {
    display: none;
  }

  .auth-buttons {
    gap: 8px;
  }

  .btn {
    padding: 6px 14px;
    font-size: 12px;
  }

  /** Hero  */

  .hero {
    padding: 124px 28px;
    flex-direction: column;
    align-items: normal;
    gap: 60px;
  }
  .hero::after {
    height: 70%;
    background: radial-gradient(
      circle,
      var(--color-light-5) 0%,
      transparent 30%
    );
  }

  .hero-title {
    max-width: 540px;
  }

  .hero-description {
    max-width: 420px;
  }

  .hero-content,
  .logo-slider {
    max-width: unset;
  }

  .hero-image.scaled {
    transform: unset;
  }

  /** Particle */

  .particle:nth-child(odd) {
    width: 3px;
    height: 3px;
  }
  .particle:nth-child(even) {
    width: 1px;
    height: 1px;
  }
  .particle:nth-child(3n) {
    width: 4px;
    height: 4px;
  }
  .particle:nth-child(5n) {
    width: 1px;
    height: 1px;
  }
  .particle:nth-child(7n) {
    width: 4px;
    height: 4px;
  }

  /** Service  */

  .service-section {
    padding: 0 28px 32px 28px;
  }

  .service-subtitle {
    position: static;
    top: unset;
    right: unset;
  }

  /** Testimonials */

  .testimonials-section {
    padding: 48px 28px;
  }

  .testimonials-subtitle {
    margin-bottom: 32px;
  }

  .testimonials-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .testimonial-card {
    padding: 24px 20px;
  }

  .testimonial-avatar {
    width: 50px;
    height: 50px;
  }

  .testimonial-name {
    font-size: 14px;
  }

  .testimonial-role {
    font-size: 11px;
  }

  .testimonial-review {
    font-size: 13px;
  }

  .testimonial-quote-mark {
    font-size: 60px;
    top: 96px;
    right: 16px;
  }
}
